<!DOCTYPE html>
<html>
    <head>
        <title>Inicio - Simulador Examen</title>
        <meta charset="utf-8">
        <script src="jss/main.jss" charset="utf-8"></script>
        <link rel="stylesheet" href="estilos/estilos.css">
    </head>

    <body>
        <h1>Simulador examen teórico manejo - La Matanza</h1>

        <br><br>

        <form method="GET" action="/cuestionario">
            <button type="submit" name="boton_comienzo_cuestionario">Presioná acá para empezar</button>
        </form>
    </body>
</html>