<!DOCTYPE html>
<html>
    <head>
        <title>Cuestionario - Resultado</title>
        <meta charset="utf-8">
        <script src="jss/main.js" charset="utf-8"></script>
        <link rel="stylesheet" href="estilos/estilos.css">
    </head>

    <body>
        <div>
            <h1>Terminaste el simulacro del examen</h1>
            <br><br>
            <h2>Tu puntuacion es de: [Porcentaje]</h2>
        </div>

        <br><br>

        <div>
            <button type="button" name="boton_nuevo_cuestionario">Reintentar cuestionario</button>
        </div>
    </body>
</html>