<!DOCTYPE html>
<html>
    <head>
        <title>Cuestionario - Resultado</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="estilos/estilos.css">
    </head>

    <body>
        <div>
            <h1>Terminaste el simulacro del examen</h1>
            <br><br>
            <h2>Tu puntuacion es de: {{ porcentaje }}%</h2>
        </div>

        <br><br>

        <div>
            {{#if aprobado}}
                <h2>¡Aprobaste!</h2>
            {{else}}
                <h2>¡Desaprobaste! ¡Intentalo de nuevo!</h2>
            {{/if}}
        </div>

        <br><br>

        <form method="GET" action="/">
            <button type="submit" name="boton_reintentar">Reintentar cuestionario</button>
        </form>
    </body>
</html>